## Import the required libraries and dependencies

In [4]:
# Import the required libraries and dependencies
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
%matplotlib inline
from alpaca_trade_api.rest import TimeFrame

## Step 1: Create an environment file (`.env`) in the root of the `Unsolved` folder. This file will hold your Alpaca API and secret keys.

## Step 2: Load the Alpaca API and secret keys into `decisive_probability_distributions.ipynb`, and set the values equal to variables of the same name.

* Load the environment variable by calling the `load_dotenv()` function.
* Set the value of the variables `alpaca_api_key` and `alpaca_secret_key` equal to their respective environment variables. 
* Confirm the variables are available by checking the `type` of each.

In [5]:
# Load the environment variables by calling the load_dotenv function
load_dotenv()

True

In [6]:
# Set Alpaca API key and secret by calling the os.getenv function and referencing the environment variable names
# Set each environment variable to a notebook variable of the same name
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Check the values were imported correctly by evaluating the type of each
type(alpaca_api_key)
type(alpaca_secret_key)

str

## Step 3: Create the Alpaca API `REST` object by calling the Alpaca `tradeapi.REST` function and setting `alpaca_api_key`, `alpaca_secret_key`, and `api_version`.

In [7]:
# Create your Alpaca API REST object by calling Alpaca's tradeapi.REST function
# Set the parameters to your alpaca_api_key, alpaca_secret_key and api_version="v2" 
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

## Step 4: Use the Alpaca SDK to make an API call that gets one year of daily stock information (from 2019-05-01 to 2020-05-01) for the following stock tickers:
.
* Create the value for the required `tickers`.
* Set the values for `start_date` and `end_date` using the `pd.Timestamp` function. The dates should be 2019-05-01 through 2020-05-01.
* Set the `timeframe` value to 1 day.
* Create the `portfolio_prices_df` DataFrame by setting it equal to the `alpaca.get_barset` function.

In [8]:
# Create the list for the required tickers
tickers = ["SPY"]

In [9]:
# Set the values for start_date and end_date using the pd.Timestamp function
# The start and end data should be 2019-05-01 to 2020-05-01
# Set the parameter tz to "America/New_York", 
# Set this all to the ISO format by calling the isoformat function 
start_date = pd.Timestamp("2019-05-02", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-05-02", tz="America/New_York").isoformat()

In [10]:
# Use the Alpaca get_barset function to gather the price information for each ticker
# Include the function parameters: tickers, timeframe, start, end, and limit
# Be sure to call the df property to ensure that the returned information is set as a DataFrame
prices_df = alpaca.get_bars(
  tickers,
  TimeFrame.Day,
  start=start_date,
  end=end_date
).df.iloc[:1000]

#api.get_bars("AAPL", TimeFrame.Hour, "2021-06-01", "2021-06-01").df.iloc[:10]

# Review the first five rows of the resulting DataFrame 
prices_df.head()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2019-05-02 04:00:00+00:00,291.68,292.70,289.5200,291.18,65058183,342564,291.101680,SPY
2019-05-03 04:00:00+00:00,292.80,294.34,291.2998,294.03,56579556,249557,293.438891,SPY
2019-05-06 04:00:00+00:00,289.24,293.31,288.9000,292.82,107250892,390959,291.952803,SPY
2019-05-07 04:00:00+00:00,290.15,290.81,285.8100,287.93,145292657,618594,288.280747,SPY
2019-05-08 04:00:00+00:00,287.56,289.43,286.8700,287.53,91714817,455857,288.141309,SPY

### Create a signals dataframe with returns from close prices

In [20]:
# Filter the date index and close columns
signals_df = prices_df.loc[:, ["close"]]

# Use the pct_change function to generate  returns from close prices
signals_df["Actual Returns"] = signals_df["close"].pct_change()

# Drop all NaN values from the DataFrame
signals_df = signals_df.dropna()

# Review the DataFrame
display(signals_df.head())
display(signals_df.tail())

                            close  Actual Returns
timestamp
2019-05-03 04:00:00+00:00  294.03        0.009788
2019-05-06 04:00:00+00:00  292.82       -0.004115
2019-05-07 04:00:00+00:00  287.93       -0.016700
2019-05-08 04:00:00+00:00  287.53       -0.001389
2019-05-09 04:00:00+00:00  286.66       -0.003026

                            close  Actual Returns
timestamp
2020-04-27 04:00:00+00:00  287.05        0.014418
2020-04-28 04:00:00+00:00  285.73       -0.004599
2020-04-29 04:00:00+00:00  293.21        0.026179
2020-04-30 04:00:00+00:00  290.48       -0.009311
2020-05-01 04:00:00+00:00  282.79       -0.026473